/* Google Fonts 'Poppins' */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #fff;
  --text-color: #38d185;
}

body {
  /* background-color: #eceaff !important; */
  width: 100%;
  height: auto;
  background: linear-gradient(#80ff72, #7ee8fa);
}

.container {
  /* margin-top: 70px; */
  border-radius: 20px;
  justify-content: center;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.container h1 {
  text-align: center;
  font-size: 25px;
  margin: 10px;
  color: var(--text-color);
}

.container label {
  color: var(--text-color);
  margin: 12px auto;
}

.container span {
  color: black;
}

.container input {
  border-radius: 0;
}

.container input:focus {
  box-shadow: none;
  border: 1px solid var(--text-color);
}

.container .btn {
  background-color: var(--text-color);
  color: white;
  transition: all 0.4s ease;
}

.container .btn:hover {
  border: 1px solid var(--text-color);
}

.container p a {
  text-decoration: none;
  color: var(--text-color);
}

.container p a:hover {
  text-decoration: underline;
}

.forgot-pass {
  color: var(--text-color);
  text-decoration: none;
}
.forgot-pass:hover {
  text-decoration: underline;
}
.container-md {
  justify-content: center;
  padding: 1rem;
  transition: 1s;
}
.container:hover {
  box-shadow: 0 0 3rem black;
  transition: 1s;
  /* background-color: black; */
}
nav {
  position: absolute;
  top: 0;
}
